*{
    margin: 0;
    padding: 0;
    width: 100%;
}
#formulario{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

#formulario #titulo{
    text-align: center;
    margin: 10px;
}
#formulario #inputs{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
}
.botao{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    margin-top: 20px;
}