*{
    margin-left: auto;   
    margin-left: auto;
}

#header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#header ul li{
    margin: 10px;
}
#header ul li button{
    margin-top: 22px;
}